
body{
    margin:0 auto;
    background-color:rgb(245, 245, 245);
}



.LiLijst{
    width: 100%;
    position: static;
}


section{
    display: flex; 
    padding: 5px;
    background-color:rgb(245, 245, 245);
    /*height:100%; 


.Inhoud1{
    display: block;
    padding: 10px;
    width:30%;
    background-color: #d05415;

    */
}
    
#boven{
    background-color: rgba(255, 68, 0, 0.882);
    color: white;
    text-align: center;
}

footer{
    background-color: rgba(255, 68, 0, 0.882);
    text-align: center;

}


.p6{
    font-size: small;

}





/* linkerkant image */
.imgkleinSt{
    width: 300px;
    height: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}



   
    
 

     /*
      position: relative;
    bottom: 200px;
    left: 400px;
    vertical-align: middle;
    float: right;
    display: inline-block
    position: relative;
       top:15px;
    right: 50px;
    
    static = op normale plaats
    absoluut = verplaatsing tov bronelement
    relatief = verplaatsing tov zijn oorspronkelijke plaats
    fixes = gelijk aan absoluut + 1: scrolled niet weg. 2. bronelement is altijd de body
    */

p{
    padding:15px;
}


.imggroot{
    width: 250px;
    height: 120px;
}

.tekstgebied{
    padding: 20px; 

}

/* positie tekst */

.tekstcenter{
    text-align: center;
}

.tekstRe{
    text-align: right;
}


/* breedte vlak */

.middelbreed{
    display: block;
    width: 80%;
    padding: 10px;
    background-color:rgb(245, 245, 245);
}

/* positie image */


#button{
    background-color: #d89416;}


/* Fluid grid - 12 kolommen */

[class*="col-"]{
    float: left;
    padding: 15px;
}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

   .Menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .Menu li {
        padding: 8px;
        margin-bottom: 7px;
        background-color: olive;
        color: white;
    }
    .Menu li:hover {
        background-color: green;
    }

    
.Menu{
    background-color: rgba(191, 56, 2, 0.945);
    color: white;
    }

                li{
                    float: left;
                    display: block;
                    width: 5%;
                }

                a{
                    color:white;
                    text-decoration:none;
                }
                a:hover{
                    color:black;
                    clear: left;
                }

/* Mediaquery  */

@media screen and (max-width: 600px){

    body{
        background-color: purple;
    }

    #menu2{
            background-color: rgba(191, 56, 2, 0.945);
            color: white;
            }

                li{
                    display: none;
                    width: 5%;
                }

                a{
                    color:white;
                    text-decoration:none;
                }
                a:hover{
                    color:black;
                    clear: left;
                }

    }
        