<!DOCTYPE html>

<html lang="nl">
    <head>
        <title> Full Stack Developper eind opdracht</title>
        <meta charset = "utf-8">

        <!-- Style CSS-->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}">

    </head>

    <body>
        <!-- 1e  deel -->
    
            <div id="boven">  
                <h1>Muziekschool H&J</h1>
                <h5> Beheerpagina met een formulier</h5>
             </div>
             <div id="menu">  
                <ul>
                    <li> <a href="/Index.html"> Home     </a></li>
                    <li> <a href="/Overons.html"> Over ons </a></li>
                    <li> <a href="/Tarieven.html"> Tarieven </a></li>
                    <li> <a href="/Agenda.html"> Agenda </li>
                    <li> <a href="/BlogJava.html"> Blog </li>
                    <li> <a href="/Contact.html"> Contact  </a></li>
                </ul>
             </div>
        <!-- 2e  deel -->
        <section>
            <!--Linkerdeel 20%-->
            <section class = "Inhoud1">
                    <h3 class="tekstcenter"> Adresgegevens</h3> <br>
                    <p class="p6">  Muziekschool H&J <br> 
                                    t.a.v. Hannah en Jesse <br>
                                    Industrieterrein Panningen 37 <br>
                                    5981 NK Panningen <br>
                                    0123-456789 <br> 
                                    muziekschoolhj@outlook.com <br>
                    </p>
                  
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2492.7551814969493!2d5.975584676508335!3d51.334022671774385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7485bd5bc80c3%3A0xc56f3d8c01a8a374!2sIndustrieterrein%20Panningen%2037%2C%205981%20NK%20Panningen%2C%20Nederland!5e0!3m2!1snl!2sfr!4v1697809815673!5m2!1snl!2sfr" width="300" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                 
            </section>


            <!--rechterdeel 79%  -->
            <section class="Inhoud2">

                    <!--Bovenste deel -->
                    
                                
                    <div class="middelbreed">
                            <h3 class="kleurL"> Contact </h3>
                            <p class="p6"> <strong> U kunt een bericht achterlaten via onderstaand contactformulier</strong></p>  

                            <table width="600">
                                <ul> Voornaam</ul>
                                <ul>  <input type ="text" name="voornaam" placeholder="Voornaam"> </ul>
                                <ul>Achternaam</ul>
                                <ul>     <input type ="text" name="achternaam" placeholder="Achternaam"></ul>
                                <ul>Email adres</ul>
                                <ul><input type ="email" name="uw emailadres" placeholder="Uw emailadres"></ul>
                                <ul>Land</ul>
                                <ul>     <input type ="text" name="land" placeholder="Nederland"></ul>
                                <ul>Uw bericht</ul>
                                <ul> <textarea name="bericht" maxlength="1000"placeholder="Uw bericht"></textarea></ul>
                           
                                
                           



                                <input id="button" type="submit" value="Verzend">

                            </table>
                           

                     <!--Onderste deel -->
                   
                     <div>
                        
                    </div>
                </div>
                            
                     


            </section>






        </section>    <!-- einde 2e deel -->
         
 

<footer>
        <p> @ Copyright 2021 Muziekschool H & J </p>
        <p> (Dit is een oefenopdracht, alle informatie 
            op deze website is fictief.) </p>
       
</footer>

</body>
</html>