{% extends 'base.html' %} 

{% load static %}

{% block subtitle %}
<h5> Tarieven</h5>
{% endblock subtitle %}

{% block content %}

<section class="row"> <!--START ROW-->
    <!--Linkerdeel 20%-->
    <div class="col-4 kleur">
            <h3 class="tekstcenter"> Tarieven </h3> <br>

            <ul class="Lilijst">Individuele les: €30,- per half uur</ul><hr>
            <ul class="Lilijst">Groepsles: Dezelfde prijs per persoon (dus € 30,- gedeeld door het aantal deelnemers)</ul><hr>
            <ul class="Lilijst">Groepsles kinderen: € 10,- per uur</ul>

    </div>

    <!--rechterdeel 79%  -->
    <div class="col-7">
                <h3 class="kleurL"> Voorwaarden</h3>
                <p class="p6">  Algemene voorwaarden - Muziekschool H&J </p>  

                <div>
                        <strong> Artikel 1: </strong> Inschrijving
                        <hr>
                        
                        U kunt zich inschrijven door u aan te melden bij het bureau van de muziekschool en het 
                        inschrijfformulier te ondertekenen.<br><br>
                        
                        <strong> Artikel 2: </strong> Duur cursusjaar
                        <hr>
                        
                        Het cursusjaar loopt van 1 september tot en met 30 juni van het volgend jaar.<br><br>

                        <strong> Artikel 3: </strong> Uitschrijving
                        <hr>
                            
                        Tussentijdse beeindiging/opzegging is uitsluitend mogelijk na een schriftelijk verzoek.
                </div>
    </div>
<section> <!--EIND ROW-->     
         
 {% endblock content %} 