<!DOCTYPE html>

<html lang="nl">
    <head>
        <title> Full Stack Developper eind opdracht</title>
        <meta charset = "utf-8">

        <!-- Style CSS-->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}">

    </head>

    <body>
        <!-- 1e  deel -->
    
            <div id="boven">  
                <h1>Muziekschool H&J</h1>
                <h5> over ons</h5>
             </div>
             <div id="menu">  
                <ul>
                    <li> <a href="/Index.html"> Home     </a></li>
                    <li> <a href="/Overons.html"> Over ons </a></li>
                    <li> <a href="/Tarieven.html"> Tarieven </a></li>
                    <li> <a href="/Agenda.html"> Agenda </li>
                    <li> <a href="/BlogJava.html"> Blog </li>
                    <li> <a href="/Contact.html"> Contact  </a></li>
                </ul>
             </div>
      
        <!-- 2e  deel -->
        <section>
            <!--Linkerdeel 20%-->
            <section class = "Inhoud1">
                    <h3 class="tekstcenter"> Tarieven </h3> <br>

                    <ul class="Lilijst">Individuele les: €30,- per half uur</ul>
                    <hr>
                    <ul class="Lilijst">Groepsles: Dezelfde prijs per persoon (dus € 30,- gedeeld door het aantal deelnemers)</ul>
                    <hr>
                    <ul class="Lilijst">Groepsles kinderen: € 10,- per uur</ul>

            </section>


            <!--rechterdeel 79%  -->
            <section class="Inhoud2">

                    <!--Bovenste deel -->
                    
                                
                    <div class="middelbreed">
                            <h3 class="kleurL"> Voorwaarden</h3>
                            <p class="p6">  Algemene voorwaarden - Muziekschool H&J </p>  

                            <div>
                                    <strong> Artikel 1: </strong> Inschrijving
                                    <hr>
                                    
                                    U kunt zich inschrijven door u aan te melden bij het bureau van de muziekschool en het 
                                    inschrijfformulier te ondertekenen.<br><br>
                                    
                                    <strong> Artikel 2: </strong> Duur cursusjaar
                                    <hr>
                                    
                                    Het cursusjaar loopt van 1 september tot en met 30 juni van het volgend jaar.<br><br>

                                    <strong> Artikel 3: </strong> Uitschrijving
                                    <hr>
                                        
                                    Tussentijdse beeindiging/opzegging is uitsluitend mogelijk na een schriftelijk verzoek.
                            </div>

                     <!--Onderste deel -->
                   
                     <div>
                    </div>
                </div>
                            
            </section>

        </section>    <!-- einde 2e deel -->
         
 

    <footer>
        <p> @ Copyright 2021 Muziekschool H & J </p>
        <p> (Dit is een oefenopdracht, alle informatie 
            op deze website is fictief.) </p>
       
</footer>

</body>
</html>